*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1, p{ color: #FFF; }
h1{
    font-weight: 600;
    font-size: 60px;
}
p{
    font-weight: 400;
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.content img{width: 80px;}
.banner video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
.links{display: flex; gap: 30px;justify-content: center;}